* {
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: auto auto 50px;
    padding-top: 40px;
    width: 1000px;
}

.logomarca {
    height: 80px;
    margin-right: auto;
    cursor: pointer;
}

.cart {
    background-color: rgb(240, 205, 9);
    border-radius: 20px;
    color: brown;
    margin: 0 0 0 auto;
    padding: 5px 10px;
    cursor: pointer;
}

.cart p {
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 1030px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        margin: auto auto 50px;
        padding-top: 40px;
        width: auto;
        max-width: 1000px;
        padding: 40px 20px 0px 20px;
    }
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        margin: auto auto 50px;
        padding-top: 40px;
        width: 350px;
        max-width: 350px;
        padding: 40px 10px 0px 10px;
    }
}